h1,
h2 {
    color: green;
    font-family: fantasy;
    background-color: aqua;
}
features {
    color: red;
    font-family: cursive;
}


body {background-color: gray;}

@media screen and (max-width: 30rem) {
    header,
    main,
    footer,
    form p {
        flex-direction: column;
    }
}
ul li{
    color: red;
}
p {
    color: greenyellow;
}
